<p><%= flash[:notice] %></p>
<h1>Welcome to Tapped!</h1>
<h3>Please Signin or Signup</h3>
<%= form_tag '/signin' do |f| %>
<p>Username: <%= text_field_tag :name%></p>
<p>Password: <%= password_field_tag :password%></p>
<%= submit_tag "Log In"%>
<% end %>

<%= link_to('Log in with Github!', '/auth/github') %>

<h4><%= link_to "Create New Account", '/users/new'%></h4>
