<%= link_to "logout", '/logout'%>

<h3><%=@user.name%> has tapped these beers: </h3>

<% @user.user_beers.each do |userbeer| %>
<p><%= userbeer.beerinstance.display %> Rating: <%= userbeer.rating %></p>
<% end %>

<% if @user == @current_user %>
  <%= link_to "Tap a New Beer", "/users/#{@user.id}/beers/new"%>
<% end %>
