<%= flash[:notice] %>
<%=form_tag '/userbeers' do%>
<% @beers.each do |beer| %>
  <p><input type="checkbox" name="beer_ids[]" value="<%= beer.id %>"><%= beer.display %> </input> Rating: <input type="text" name="rating[<%= beer.id %>]"></p><br>
<% end %>
<%=submit_tag "Update Your Tapped Beers"%>
<% end %>



<h4>Don't See the beer you're Looking For?</h4>
<h5>Add a New Beer to Our Comprehensive List</h5>

<%= form_for(@beer) do |f| %>
<% if @beer.errors.any? %>
  <ul>
    <% @beer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<%= f.label :name%>
<%= f.text_field :name%> <br>
<%= f.label :brewery%>
<%= f.text_field :brewery%> <br>
<%= f.label :style%>
<%= f.text_field :style%> <br>
<%= f.submit "Add Beer!" %>
<% end %>
