<h3><%=@beer.name%></h3>
<h4 id="brewery"><%=@beer.brewery%></h4>
<h5><%=@beer.style%></h5>
<div id="lastbeer"></div>

<button href="#" class="js-prev" onClick="prevBeer()" data-id="<%=@beer.id%>">Previous Beer</button><button href="#" class="js-next" onClick="nextBeer()" data-id="<%=@beer.id%>">Next Beer</button>
